<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./error-styles.css"></style>
    <title>PDF</title>
  </head>
  <body>
    <section class="header-section">
      <img class="image" src="assets/images/error.gif" /> 
      <h2>ERROR!</h2>
      <div class="identical">
      </div>
      <p>आप ने घबराना नहीं है</p>
      <script>
        setTimeout(() => {
          window.location.href = "/";
        }, 4000);
      </script>
    </section>
  </body>
</html>
